<a href="https://colab.research.google.com/github/astrodatos/proyecto_iluminatiuwu/blob/master/Algoritmo_(beta).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.io import fits #importamos fits aunque no creemos que lo usaremos
from astropy.wcs import WCS #importamos WCS aunque no creemos que lo usaremos
!pip install astroquery #esto para instalar astroquery
from astroquery.gaia import Gaia

Collecting astroquery
  Downloading https://files.pythonhosted.org/packages/61/50/a7a08f9e54d7d9d97e69433cd88231e1ad2901811c9d1ae9ac7ccaef9396/astroquery-0.3.9.tar.gz (4.2MB)
     |████████████████████████████████| 4.2MB 2.8MB/s
Requirement already satisfied: astropy>=1.0 in /usr/local/lib/python3.6/dist-packages (from astroquery) (3.0.5)
Requirement already satisfied: requests>=2.4.3 in /usr/local/lib/python3.6/dist-packages (from astroquery) (2.21.0)
Collecting keyring>=4.0 (from astroquery)
  Downloading https://files.pythonhosted.org/packages/6e/b3/b4d443d2e30c00cdb73612426222172182e54359545cfb17774792619e49/keyring-19.0.2-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4>=4.3.2 in /usr/local/lib/python3.6/dist-packages (from astroquery) (4.6.3)
Requirement already satisfied: html5lib>=0.999 in /usr/local/lib/python3.6/dist-packages (from astroquery) (1.0.1)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from astropy>=1.0->astroquery) (1.16.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (2019.3.9)
Collecting secretstorage; sys_platform == "linux" (from keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/82/59/cb226752e20d83598d7fdcabd7819570b0329a61db07cfbdd21b2ef546e3/SecretStorage-3.1.1-py3-none-any.whl
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from keyring>=4.0->astroquery) (0.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib>=0.999->astroquery) (1.12.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib>=0.999->astroquery) (0.5.1)
Collecting cryptography (from secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/97/18/c6557f63a6abde34707196fb2cad1c6dc0dbff25a200d5044922496668a4/cryptography-2.7-cp34-abi3-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 32.4MB/s
Collecting jeepney (from secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/2b/f7/ff23b9b59534f501d47c327576aadda59da5b83d76ff837e6075bc325b9f/jeepney-0.4-py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 22.5MB/s
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery) (1.12.3)
Collecting asn1crypto>=0.21.0 (from cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/ea/cd/35485615f45f30a510576f1a56d1e0a7ad7bd8ab5ed7cdc600ef7cd06222/asn1crypto-0.24.0-py2.py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 27.7MB/s
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery) (2.19)
Building wheels for collected packages: astroquery
  Building wheel for astroquery (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/8a/d1/1e/4124d9ef35e2bbfbaa284c97dd49d9babbab42d966c4bea190
Successfully built astroquery
Installing collected packages: asn1crypto, cryptography, jeepney, secretstorage, keyring, astroquery
Successfully installed asn1crypto-0.24.0 astroquery-0.3.9 cryptography-2.7 jeepney-0.4 keyring-19.0.2 secretstorage-3.1.1
Created TAP+ (v1.0.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: False
	Port: 80
	SSL Port: 443

In [16]:
job = Gaia.launch_job_async("select top 100000 \
solution_id,random_index,source_id,ra,dec,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,bp_rp,bp_g,g_rp,teff_val,lum_val \
from gaiadr2.gaia_source order by random_index") #obtenemos los datos de 1000000 estrellas con los anteriores atributos en un Asynchronous query

print(job) 
r = job.get_results()
print(r)

WARNING: W35: None:5:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:6:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:7:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:8:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:10:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W27: None:11:0: W27: COOSYS deprecated in VOTable 1.2 [astropy.io.votable.tree]
WARNING: W06: None:38:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]
WARNING: W06: None:41:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]
WARNING: W06: None:44:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]

Query finished.
<Table masked=True length=100000>
      name        dtype  unit format                            description                             n_bad
---------------- ------- ---- ------ ------------------------------------------------------------------ -----
     solution_id   int64                                                            Solution Identifier     0
    random_index   int64                                            Random index used to select subsets     0
       source_id   int64             Unique source identifier (unique within a particular Data Release)     0
              ra float64  deg {!r:>}                                                    Right ascension     0
             dec float64  deg {!r:>}                                                        Declination     0
 phot_g_mean_mag float32  mag {!r:>}                                              G-band mean magnitude     0
phot_bp_mean_mag float32  mag {!r:>}                                       Integrated BP mean magnitude 18313
phot_rp_mean_mag float32  mag {!r:>}                                       Integrated RP mean magnitude 18218
           bp_rp float32  mag {!r:>}                                                     BP - RP colour 18456
            bp_g float32  mag {!r:>}                                                      BP - G colour 18313
            g_rp float32  mag {!r:>}                                                      G - RP colour 18218
        teff_val float32    K {!r:>}                                      stellar effective temperature 90500
         lum_val float32 Lsun {!r:>}                                                 stellar luminosity 95382
Jobid: 1560359145724O
Phase: COMPLETED
Owner: None
Output file: async_20190612170545.vot
Results: None
    solution_id     random_index      source_id      ... teff_val lum_val
                                                     ...    K       Lsun
------------------- ------------ ------------------- ... -------- -------
1635721458409799680            0 4205572950572486656 ...       --      --
1635721458409799680            1 4205565597589384320 ...       --      --
1635721458409799680            2 4053206649305182080 ...       --      --
1635721458409799680            3 4205568964799943680 ...       --      --
1635721458409799680            4 4049398731303340416 ...       --      --
1635721458409799680            5 4053206924184153472 ...       --      --
1635721458409799680            6 2944217403015932032 ...       --      --
1635721458409799680            7 4205572263340546688 ...       --      --
1635721458409799680            8 5889059805439854848 ...  4368.46      --
1635721458409799680            9 4049398765669294976 ...       --      --
                ...          ...                 ... ...      ...     ...
1635721458409799680        99990 5958844262199085952 ...       --      --
1635721458409799680        99991 5876033135261548928 ...       --      --
1635721458409799680        99992 1823035809809073280 ...       --      --
1635721458409799680        99993 6848828934096101248 ...       --      --
1635721458409799680        99994 5201239725131734272 ...       --      --
1635721458409799680        99995 3037515809355561984 ...       --      --
1635721458409799680        99996 4105360883790153344 ...       --      --
1635721458409799680        99997 6727033900789298816 ...       --      --
1635721458409799680        99998 6725468952148478208 ...       --      --
1635721458409799680        99999 4093103081493351936 ...       --      --
Length = 100000 rows

In [17]:
jobpd=r.to_pandas() #convertimos el job a pandas
jobpd[:10] #vemos las primeras 10 filas para ver que todo está bien

           solution_id  random_index  ...     teff_val  lum_val
0  1635721458409799680             0  ...          NaN      NaN
1  1635721458409799680             1  ...          NaN      NaN
2  1635721458409799680             2  ...          NaN      NaN
3  1635721458409799680             3  ...          NaN      NaN
4  1635721458409799680             4  ...          NaN      NaN
5  1635721458409799680             5  ...          NaN      NaN
6  1635721458409799680             6  ...          NaN      NaN
7  1635721458409799680             7  ...          NaN      NaN
8  1635721458409799680             8  ...  4368.459961      NaN
9  1635721458409799680             9  ...          NaN      NaN

[10 rows x 13 columns]

In [18]:
pd.Series.count(jobpd.iloc[:,11]) #con esto obtenemos el número de estrellas que poseen info de teff_val
datamask = np.logical_not(np.isnan(jobpd.iloc[:,11]))

filtdata=jobpd.loc[datamask]

filtdata['class'] = 'A' #esto se arregla en la celda de abajo

filtdata

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

               solution_id  random_index  ...    lum_val  class
8      1635721458409799680             8  ...        NaN      A
12     1635721458409799680            12  ...        NaN      A
17     1635721458409799680            17  ...        NaN      A
21     1635721458409799680            21  ...   0.704140      A
24     1635721458409799680            24  ...        NaN      A
29     1635721458409799680            29  ...        NaN      A
31     1635721458409799680            31  ...  28.196486      A
44     1635721458409799680            44  ...   1.463973      A
55     1635721458409799680            55  ...        NaN      A
85     1635721458409799680            85  ...        NaN      A
90     1635721458409799680            90  ...        NaN      A
104    1635721458409799680           104  ...   0.716465      A
108    1635721458409799680           108  ...   2.885473      A
111    1635721458409799680           111  ...   1.218912      A
113    1635721458409799680           113  ...   0.264634      A
117    1635721458409799680           117  ...        NaN      A
157    1635721458409799680           157  ...        NaN      A
187    1635721458409799680           187  ...  10.774697      A
195    1635721458409799680           195  ...   1.571766      A
208    1635721458409799680           208  ...   0.349052      A
210    1635721458409799680           210  ...        NaN      A
220    1635721458409799680           220  ...        NaN      A
227    1635721458409799680           227  ...        NaN      A
248    1635721458409799680           248  ...        NaN      A
259    1635721458409799680           259  ...   0.134199      A
277    1635721458409799680           277  ...   0.136677      A
283    1635721458409799680           283  ...        NaN      A
295    1635721458409799680           295  ...   1.676983      A
302    1635721458409799680           302  ...        NaN      A
311    1635721458409799680           311  ...        NaN      A
...                    ...           ...  ...        ...    ...
99682  1635721458409799680         99682  ...   0.916663      A
99688  1635721458409799680         99688  ...   0.975963      A
99697  1635721458409799680         99697  ...   1.858763      A
99699  1635721458409799680         99699  ...        NaN      A
99701  1635721458409799680         99701  ...        NaN      A
99710  1635721458409799680         99710  ...        NaN      A
99760  1635721458409799680         99760  ...   0.353993      A
99761  1635721458409799680         99761  ...        NaN      A
99764  1635721458409799680         99764  ...        NaN      A
99770  1635721458409799680         99770  ...        NaN      A
99771  1635721458409799680         99771  ...   0.446636      A
99776  1635721458409799680         99776  ...        NaN      A
99785  1635721458409799680         99785  ...        NaN      A
99801  1635721458409799680         99801  ...   0.081438      A
99809  1635721458409799680         99809  ...   0.145096      A
99820  1635721458409799680         99820  ...   6.412786      A
99822  1635721458409799680         99822  ...        NaN      A
99841  1635721458409799680         99841  ...   1.271674      A
99848  1635721458409799680         99848  ...        NaN      A
99849  1635721458409799680         99849  ...        NaN      A
99851  1635721458409799680         99851  ...        NaN      A
99872  1635721458409799680         99872  ...        NaN      A
99887  1635721458409799680         99887  ...   0.240013      A
99889  1635721458409799680         99889  ...  32.821964      A
99899  1635721458409799680         99899  ...        NaN      A
99923  1635721458409799680         99923  ...   0.442478      A
99942  1635721458409799680         99942  ...   0.876735      A
99959  1635721458409799680         99959  ...   1.215762      A
99974  1635721458409799680         99974  ...        NaN      A
99987  1635721458409799680         99987  ...   3.997422      A

[9500 rows x 14 columns]

In [20]:
maskO = (filtdata["teff_val"]>=33000)
filtdata.loc[maskO,'class'] = 'O'
maskB = (filtdata["teff_val"]>=10000) & (filtdata["teff_val"]<33000)
filtdata.loc[maskB,'class'] = 'B'
maskA = (filtdata["teff_val"]>=7500) & (filtdata["teff_val"]<10000)
filtdata.loc[maskA,'class'] = 'A'
maskF = (filtdata["teff_val"]>=6000) & (filtdata["teff_val"]<7500)
filtdata.loc[maskF,'class'] = 'F'
maskG = (filtdata["teff_val"]>=5200) & (filtdata["teff_val"]<6000)
filtdata.loc[maskG,'class'] = 'G'
maskK = (filtdata["teff_val"]>=3700) & (filtdata["teff_val"]<5200)
filtdata.loc[maskK,'class'] = 'K'
maskM = (filtdata["teff_val"]<3700)
filtdata.loc[maskM,'class'] = 'M'

filtdata

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

               solution_id  random_index  ...    lum_val  class
8      1635721458409799680             8  ...        NaN      K
12     1635721458409799680            12  ...        NaN      K
17     1635721458409799680            17  ...        NaN      K
21     1635721458409799680            21  ...   0.704140      K
24     1635721458409799680            24  ...        NaN      G
29     1635721458409799680            29  ...        NaN      M
31     1635721458409799680            31  ...  28.196486      K
44     1635721458409799680            44  ...   1.463973      F
55     1635721458409799680            55  ...        NaN      K
85     1635721458409799680            85  ...        NaN      K
90     1635721458409799680            90  ...        NaN      K
104    1635721458409799680           104  ...   0.716465      K
108    1635721458409799680           108  ...   2.885473      G
111    1635721458409799680           111  ...   1.218912      G
113    1635721458409799680           113  ...   0.264634      K
117    1635721458409799680           117  ...        NaN      K
157    1635721458409799680           157  ...        NaN      M
187    1635721458409799680           187  ...  10.774697      G
195    1635721458409799680           195  ...   1.571766      G
208    1635721458409799680           208  ...   0.349052      K
210    1635721458409799680           210  ...        NaN      K
220    1635721458409799680           220  ...        NaN      K
227    1635721458409799680           227  ...        NaN      K
248    1635721458409799680           248  ...        NaN      K
259    1635721458409799680           259  ...   0.134199      K
277    1635721458409799680           277  ...   0.136677      K
283    1635721458409799680           283  ...        NaN      K
295    1635721458409799680           295  ...   1.676983      G
302    1635721458409799680           302  ...        NaN      K
311    1635721458409799680           311  ...        NaN      M
...                    ...           ...  ...        ...    ...
99682  1635721458409799680         99682  ...   0.916663      G
99688  1635721458409799680         99688  ...   0.975963      K
99697  1635721458409799680         99697  ...   1.858763      G
99699  1635721458409799680         99699  ...        NaN      K
99701  1635721458409799680         99701  ...        NaN      G
99710  1635721458409799680         99710  ...        NaN      M
99760  1635721458409799680         99760  ...   0.353993      K
99761  1635721458409799680         99761  ...        NaN      G
99764  1635721458409799680         99764  ...        NaN      K
99770  1635721458409799680         99770  ...        NaN      K
99771  1635721458409799680         99771  ...   0.446636      G
99776  1635721458409799680         99776  ...        NaN      K
99785  1635721458409799680         99785  ...        NaN      K
99801  1635721458409799680         99801  ...   0.081438      K
99809  1635721458409799680         99809  ...   0.145096      K
99820  1635721458409799680         99820  ...   6.412786      K
99822  1635721458409799680         99822  ...        NaN      K
99841  1635721458409799680         99841  ...   1.271674      G
99848  1635721458409799680         99848  ...        NaN      K
99849  1635721458409799680         99849  ...        NaN      K
99851  1635721458409799680         99851  ...        NaN      K
99872  1635721458409799680         99872  ...        NaN      M
99887  1635721458409799680         99887  ...   0.240013      K
99889  1635721458409799680         99889  ...  32.821964      K
99899  1635721458409799680         99899  ...        NaN      K
99923  1635721458409799680         99923  ...   0.442478      K
99942  1635721458409799680         99942  ...   0.876735      K
99959  1635721458409799680         99959  ...   1.215762      K
99974  1635721458409799680         99974  ...        NaN      K
99987  1635721458409799680         99987  ...   3.997422      G

[9500 rows x 14 columns]

In [0]:
filtdata.to_csv("tabla_temperatura_100mil.csv")

In [0]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier