<a href="https://colab.research.google.com/github/astrodatos/proyecto_iluminatiuwu/blob/master/Algoritmo_(beta).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.io import fits #importamos fits aunque no creemos que lo usaremos
from astropy.wcs import WCS #importamos WCS aunque no creemos que lo usaremos
!pip install astroquery #esto para instalar astroquery
from astroquery.gaia import Gaia

Collecting astroquery
  Downloading https://files.pythonhosted.org/packages/61/50/a7a08f9e54d7d9d97e69433cd88231e1ad2901811c9d1ae9ac7ccaef9396/astroquery-0.3.9.tar.gz (4.2MB)
     |████████████████████████████████| 4.2MB 2.8MB/s
Requirement already satisfied: astropy>=1.0 in /usr/local/lib/python3.6/dist-packages (from astroquery) (3.0.5)
Requirement already satisfied: requests>=2.4.3 in /usr/local/lib/python3.6/dist-packages (from astroquery) (2.21.0)
Collecting keyring>=4.0 (from astroquery)
  Downloading https://files.pythonhosted.org/packages/6e/b3/b4d443d2e30c00cdb73612426222172182e54359545cfb17774792619e49/keyring-19.0.2-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4>=4.3.2 in /usr/local/lib/python3.6/dist-packages (from astroquery) (4.6.3)
Requirement already satisfied: html5lib>=0.999 in /usr/local/lib/python3.6/dist-packages (from astroquery) (1.0.1)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from astropy>=1.0->astroquery) (1.16.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.4.3->astroquery) (1.24.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from keyring>=4.0->astroquery) (0.3)
Collecting secretstorage; sys_platform == "linux" (from keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/82/59/cb226752e20d83598d7fdcabd7819570b0329a61db07cfbdd21b2ef546e3/SecretStorage-3.1.1-py3-none-any.whl
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib>=0.999->astroquery) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib>=0.999->astroquery) (1.12.0)
Collecting cryptography (from secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/97/18/c6557f63a6abde34707196fb2cad1c6dc0dbff25a200d5044922496668a4/cryptography-2.7-cp34-abi3-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 33.4MB/s
Collecting jeepney (from secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/2b/f7/ff23b9b59534f501d47c327576aadda59da5b83d76ff837e6075bc325b9f/jeepney-0.4-py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 24.1MB/s
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery) (1.12.3)
Collecting asn1crypto>=0.21.0 (from cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery)
  Downloading https://files.pythonhosted.org/packages/ea/cd/35485615f45f30a510576f1a56d1e0a7ad7bd8ab5ed7cdc600ef7cd06222/asn1crypto-0.24.0-py2.py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 30.4MB/s
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography->secretstorage; sys_platform == "linux"->keyring>=4.0->astroquery) (2.19)
Building wheels for collected packages: astroquery
  Building wheel for astroquery (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/8a/d1/1e/4124d9ef35e2bbfbaa284c97dd49d9babbab42d966c4bea190
Successfully built astroquery
Installing collected packages: asn1crypto, cryptography, jeepney, secretstorage, keyring, astroquery
Successfully installed asn1crypto-0.24.0 astroquery-0.3.9 cryptography-2.7 jeepney-0.4 keyring-19.0.2 secretstorage-3.1.1
Created TAP+ (v1.0.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: False
	Port: 80
	SSL Port: 443

In [2]:
job = Gaia.launch_job_async("select top 1000000 \
solution_id,random_index,source_id,ra,dec,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,bp_rp,bp_g,g_rp,teff_val,lum_val \
from gaiadr2.gaia_source order by random_index") #obtenemos los datos de 1000000 estrellas con los anteriores atributos en un Asynchronous query

print(job) 
r = job.get_results()
print(r)

WARNING: W35: None:5:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:6:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:7:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:8:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: None:10:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W27: None:11:0: W27: COOSYS deprecated in VOTable 1.2 [astropy.io.votable.tree]
WARNING: W06: None:38:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]
WARNING: W06: None:41:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]
WARNING: W06: None:44:0: W06: Invalid UCD 'phot.color': Unknown word 'phot.color' [astropy.io.votable.tree]

Query finished.
<Table masked=True length=1000000>
      name        dtype  unit format                            description                             n_bad
---------------- ------- ---- ------ ------------------------------------------------------------------ ------
     solution_id   int64                                                            Solution Identifier      0
    random_index   int64                                            Random index used to select subsets      0
       source_id   int64             Unique source identifier (unique within a particular Data Release)      0
              ra float64  deg {!r:>}                                                    Right ascension      0
             dec float64  deg {!r:>}                                                        Declination      0
 phot_g_mean_mag float32  mag {!r:>}                                              G-band mean magnitude      0
phot_bp_mean_mag float32  mag {!r:>}                                       Integrated BP mean magnitude 183440
phot_rp_mean_mag float32  mag {!r:>}                                       Integrated RP mean magnitude 182618
           bp_rp float32  mag {!r:>}                                                     BP - RP colour 185028
            bp_g float32  mag {!r:>}                                                      BP - G colour 183440
            g_rp float32  mag {!r:>}                                                      G - RP colour 182618
        teff_val float32    K {!r:>}                                      stellar effective temperature 904741
         lum_val float32 Lsun {!r:>}                                                 stellar luminosity 954639
Jobid: 1559744194426O
Phase: COMPLETED
Owner: None
Output file: async_20190605141634.vot
Results: None
    solution_id     random_index      source_id      ... teff_val lum_val
                                                     ...    K       Lsun
------------------- ------------ ------------------- ... -------- -------
1635721458409799680            0 4205572950572486656 ...       --      --
1635721458409799680            1 4205565597589384320 ...       --      --
1635721458409799680            2 4053206649305182080 ...       --      --
1635721458409799680            3 4205568964799943680 ...       --      --
1635721458409799680            4 4049398731303340416 ...       --      --
1635721458409799680            5 4053206924184153472 ...       --      --
1635721458409799680            6 2944217403015932032 ...       --      --
1635721458409799680            7 4205572263340546688 ...       --      --
1635721458409799680            8 5889059805439854848 ...  4368.46      --
1635721458409799680            9 4049398765669294976 ...       --      --
                ...          ...                 ... ...      ...     ...
1635721458409799680       999990 6146840267846445184 ...  5027.37      --
1635721458409799680       999991 5623667380944946816 ...       --      --
1635721458409799680       999992  709496303442567040 ...       --      --
1635721458409799680       999993  883843972471592448 ...       --      --
1635721458409799680       999994 5928657514083373440 ...       --      --
1635721458409799680       999995 3421574666884527872 ...       --      --
1635721458409799680       999996 1823921913112529024 ...       --      --
1635721458409799680       999997 5928626865183733888 ...       --      --
1635721458409799680       999998 4266601412137068672 ...       --      --
1635721458409799680       999999 4060931440020028928 ...       --      --
Length = 1000000 rows

In [3]:
jobpd=r.to_pandas() #convertimos el job a pandas
jobpd[:10] #vemos las primeras 10 filas para ver que todo está bien

           solution_id  random_index  ...     teff_val  lum_val
0  1635721458409799680             0  ...          NaN      NaN
1  1635721458409799680             1  ...          NaN      NaN
2  1635721458409799680             2  ...          NaN      NaN
3  1635721458409799680             3  ...          NaN      NaN
4  1635721458409799680             4  ...          NaN      NaN
5  1635721458409799680             5  ...          NaN      NaN
6  1635721458409799680             6  ...          NaN      NaN
7  1635721458409799680             7  ...          NaN      NaN
8  1635721458409799680             8  ...  4368.459961      NaN
9  1635721458409799680             9  ...          NaN      NaN

[10 rows x 13 columns]

In [18]:
pd.Series.count(jobpd.iloc[:,11]) #con esto obtenemos el número de estrellas que poseen info de teff_val

95259

In [0]:
data={'random_index':jobpd.iloc[:,1],'class':np.zeros(1000000)}
wea=pd.DataFrame(data,columns=['random_index','class'])

In [0]:
mergeado=pd.merge(jobpd,wea,how='left',on='random_index')
for i in mergeado.iloc[:,1]:
  if mergeado.iloc[i,11]<=33000:
    mergeado.iloc[i,13]='O'
  if mergeado.iloc[i,11]>=10000 and mergeado.iloc[i,11]<30000:
    mergeado.iloc[i,13]='B'
  if mergeado.iloc[i,11]>=7500 and mergeado.iloc[i,11]<10000:
    mergeado.iloc[i,13]='A'
  if mergeado.iloc[i,11]>=6000 and mergeado.iloc[i,11]<7500:
    mergeado.iloc[:,13]='F'
  if mergeado.iloc[i,11]>=5200 and mergeado.iloc[i,11]<6000:
    mergeado.iloc[i,13]='G'
  if mergeado.iloc[i,11]>=3700 and mergeado.iloc[i,11]<5200:
    mergeado.iloc[i,13]='K'
  if mergeado.iloc[i,11]<=3700:
    mergeado.iloc[i,13]='M'
mergeado

In [0]:
from sklearn.neural_network import MLPClassifier #por ahora usaremos estos algoritmos, pero desconocemos más o menos como procesar los datos,
from sklearn.ensemble import RandomForestClassifier  
#regresion logistica y sbmm